.body__squirrel {
    background-color: #e68ca7;
    font-family: "Cambria";
    font-size: 18px;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 5%;
    margin-right: 5%;
    padding: 3%;
    width: 84%;
    text-align: center;
}

.div__main-block {
    padding-top: 1em;
    padding-bottom: 1em;
    padding-left: 1%;
    padding-right: 1%;
}

.nav__page-navbar {
    font-size: 16px;
    background-color: bisque;
    //padding: 1%;
    text-align: center;
}

.navbar-format {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8c265b;
    position: fixed;
    top: 0;
    width: 100%;
    width: calc(100% - 15em);
    left: 7em;
    height: 3em;
}

.navbar-list {
    float: left;
}

.navbar-format li a {
    display: block;
    color: white;
    text-align: center;
    padding: 1em;
    text-decoration: none;
    margin-right: 1%;
}

.navbar-format li a:hover:not(.active) {
    background-color: #f230c5;
}

.navbar-format .active {
  background-color: #f230c5;

.div__title--center {
    text-align: center;
    padding-top: 1em;
    padding-bottom: 1em;
}

.h__latin-title {
    color: #722791;
    font-family: "Cambria";
    font-size: 2em;
    font-style: italic;
    font-weight: 700;
    padding-bottom: 1em;
}

.h__page-title {
    color: #2b045c;
    font-weight: bold;
    font-size: 3em;
}